# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
venv/
pip-wheel-metadata/

# VSCode config (optional)
.vscode/

# Logs & caches
*.log

# OS junk files
.DS_Store
Thumbs.db
